h1 {
    display: list-item;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

* {
    text-align: center;
    margin-top: 25px;
}

#questions {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}